<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>*
	/</title>
	<link rel="icon" type="image/png" href="#">



    <!-- commented, remove this line to use IE & iOS favicons -->
    <link rel="shortcut icon" href="#">



    <!-- get jQuery from the google apis -->

    	<script>
				var api;
				jQuery(document).ready(function() {
					 api =  jQuery('.banner').revolution(
									{
										delay:5000,
										startheight:500,
										startwidth:960,

										hideThumbs:300,

										thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
										thumbHeight:50,
										thumbAmount:5,

										navigationType:"both",					//bullet, thumb, none, both		(No Thumbs In FullWidth Version !)
										navigationArrows:"verticalcentered",		//nexttobullets, verticalcentered, none
										navigationStyle:"round",				//round,square,navbar

										touchenabled:"on",						// Enable Swipe Function : on/off
										onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

										navOffsetHorizontal:0,
										navOffsetVertical:20,

										stopAtSlide:-1,
										stopAfterLoops:-1,

										shadow:1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
										fullWidth:"off"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
									});
				});

				function loadVideo(){
					jQuery("#video_link").html('<iframe width="960" height="540" src="http://www.youtube.com/embed/cVleysEPHM4?autoplay=1&fmt=22&rel=0" frameborder="0" allowfullscreen style="max-width:100%;"></iframe>');
				}
		</script>
    <script id="facebook-jssdk" src="all.js"></script><script src="froogaloop2.min.js"></script><script src="cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>


    <!-- CSS STYLE -->
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="preview.css" media="screen">


     <!-- jQuery KenBurn Slider  -->
	<script type="text/javascript" src="jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="jquery.themepunch.revolution.min.js"></script>


	<!-- MODULES ONLY FOR THE DEMONSTATION -->
	<script type="text/javascript" src="preview-normal.js"></script>


	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="settings.css" media="screen">
	<link rel="stylesheet" type="text/css" href="captions.css" media="screen">

	<!-- GOOGLE FONTS -->
	<link href="css" rel="stylesheet" type="text/css">


<style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}
.fb_invisible{display:none}
.fb_reset{background:none;border-spacing:0;border:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}
.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}
.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.fb_dialog_content{background:#fff;color:#333}
.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px;top:8px\9;right:7px\9}
.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}
.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}
.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}
.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}
.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}
.fb_dialog_top_left,
.fb_dialog_top_right,
.fb_dialog_bottom_left,
.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}
/* @noflip */
.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}
/* @noflip */
.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}
/* @noflip */
.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}
/* @noflip */
.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}
.fb_dialog_vert_left,
.fb_dialog_vert_right,
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}
.fb_dialog_vert_left,
.fb_dialog_vert_right{width:10px;height:100%}
.fb_dialog_vert_left{margin-left:-10px}
.fb_dialog_vert_right{right:0;margin-right:-10px}
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom{width:100%;height:10px}
.fb_dialog_horiz_top{margin-top:-10px}
.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}
.fb_dialog_iframe{line-height:0}
.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}
.fb_dialog_content .dialog_title > span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif)
no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}
body.fb_hidden{-webkit-transform:none;height:100%;margin:0;left:-10000px;overflow:visible;position:absolute;top:-10000px;width:100%
}
.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif)
white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}
.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}
#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}
#fb-root #fb_dialog_ipad_overlay.hidden{display:none}
.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}
.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0 0, 0 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}
.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%
}
.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px
}
.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px
}
.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0 0, 0 100%, from(#4966A6),
color-stop(0.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset,
rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}
.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}
.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}
.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}
#fb_dialog_loader_close{float:left}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{position:relative;display:-moz-inline-block;display:inline-block}
.fb_iframe_widget iframe{position:absolute}
.fb_iframe_widget_lift{z-index:1}
.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify;vertical-align:text-bottom}
.fb_hide_iframes iframe{position:relative;left:-10000px}
.fb_iframe_widget_loader{position:relative;display:inline-block}
.fb_iframe_widget_fluid{display:inline}
.fb_iframe_widget_fluid span{width:100%}
.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}
.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_button_simple,
.fb_button_simple_rtl{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yH/r/eIpbnVKI9lR.png);background-repeat:no-repeat;cursor:pointer;outline:none;text-decoration:none}
.fb_button_simple_rtl{background-position:right 0}
.fb_button_simple .fb_button_text{margin:0 0 0 20px;padding-bottom:1px}
.fb_button_simple_rtl .fb_button_text{margin:0 10px 0 0}
a.fb_button_simple:hover .fb_button_text,
a.fb_button_simple_rtl:hover .fb_button_text,
.fb_button_simple:hover .fb_button_text,
.fb_button_simple_rtl:hover .fb_button_text{text-decoration:underline}
.fb_button,
.fb_button_rtl{background:#29447e url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/FGFbc80dUKj.png);background-repeat:no-repeat;cursor:pointer;display:inline-block;padding:0 0 0 1px;text-decoration:none;outline:none}
.fb_button .fb_button_text,
.fb_button_rtl .fb_button_text{background:#5f78ab url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/FGFbc80dUKj.png);border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;color:#fff;display:block;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-weight:bold;padding:2px 6px 3px 6px;margin:1px 1px 0 21px;text-shadow:none}
a.fb_button,
a.fb_button_rtl,
.fb_button,
.fb_button_rtl{text-decoration:none}
a.fb_button:active .fb_button_text,
a.fb_button_rtl:active .fb_button_text,
.fb_button:active .fb_button_text,
.fb_button_rtl:active .fb_button_text{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}
.fb_button_xlarge,
.fb_button_xlarge_rtl{background-position:left -60px;font-size:24px;line-height:30px}
.fb_button_xlarge .fb_button_text{padding:3px 8px 3px 12px;margin-left:38px}
a.fb_button_xlarge:active{background-position:left -99px}
.fb_button_xlarge_rtl{background-position:right -268px}
.fb_button_xlarge_rtl .fb_button_text{padding:3px 8px 3px 12px;margin-right:39px}
a.fb_button_xlarge_rtl:active{background-position:right -307px}
.fb_button_large,
.fb_button_large_rtl{background-position:left -138px;font-size:13px;line-height:16px}
.fb_button_large .fb_button_text{margin-left:24px;padding:2px 6px 4px 6px}
a.fb_button_large:active{background-position:left -163px}
.fb_button_large_rtl{background-position:right -346px}
.fb_button_large_rtl .fb_button_text{margin-right:25px}
a.fb_button_large_rtl:active{background-position:right -371px}
.fb_button_medium,
.fb_button_medium_rtl{background-position:left -188px;font-size:11px;line-height:14px}
a.fb_button_medium:active{background-position:left -210px}
.fb_button_medium_rtl{background-position:right -396px}
.fb_button_text_rtl,
.fb_button_medium_rtl .fb_button_text{padding:2px 6px 3px 6px;margin-right:22px}
a.fb_button_medium_rtl:active{background-position:right -418px}
.fb_button_small,
.fb_button_small_rtl{background-position:left -232px;font-size:10px;line-height:10px}
.fb_button_small .fb_button_text{padding:2px 6px 3px;margin-left:17px}
a.fb_button_small:active,
.fb_button_small:active{background-position:left -250px}
.fb_button_small_rtl{background-position:right -440px}
.fb_button_small_rtl .fb_button_text{padding:2px 6px;margin-right:18px}
a.fb_button_small_rtl:active{background-position:right -458px}
.fb_share_count_wrapper{position:relative;float:left}
.fb_share_count{background:#b0b9ec none repeat scroll 0 0;color:#333;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;text-align:center}
.fb_share_count_inner{background:#e8ebf2;display:block}
.fb_share_count_right{margin-left:-1px;display:inline-block}
.fb_share_count_right .fb_share_count_inner{border-top:solid 1px #e8ebf2;border-bottom:solid 1px #b0b9ec;margin:1px 1px 0 1px;font-size:10px;line-height:10px;padding:2px 6px 3px;font-weight:bold}
.fb_share_count_top{display:block;letter-spacing:-1px;line-height:34px;margin-bottom:7px;font-size:22px;border:solid 1px #b0b9ec}
.fb_share_count_nub_top{border:none;display:block;position:absolute;left:7px;top:35px;margin:0;padding:0;width:6px;height:7px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yU/r/bSOHtKbCGYI.png)}
.fb_share_count_nub_right{border:none;display:inline-block;padding:0;width:5px;height:10px;background-repeat:no-repeat;background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yX/r/i_oIVTKMYsL.png);vertical-align:top;background-position:right 5px;z-index:10;left:2px;margin:0 2px 0 0;position:relative}
.fb_share_no_count{display:none}
.fb_share_size_Small .fb_share_count_right .fb_share_count_inner{font-size:10px}
.fb_share_size_Medium .fb_share_count_right .fb_share_count_inner{font-size:11px;padding:2px 6px 3px;letter-spacing:-1px;line-height:14px}
.fb_share_size_Large .fb_share_count_right .fb_share_count_inner{font-size:13px;line-height:16px;padding:2px 6px 4px;font-weight:normal;letter-spacing:-1px}
.fb_share_count_hidden .fb_share_count_nub_top,
.fb_share_count_hidden .fb_share_count_top,
.fb_share_count_hidden .fb_share_count_nub_right,
.fb_share_count_hidden .fb_share_count_right{visibility:hidden}
.fb_connect_bar_container div,
.fb_connect_bar_container span,
.fb_connect_bar_container a,
.fb_connect_bar_container img,
.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}
.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}
.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}
.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}
.fb_connect_bar a:hover{color:#fff}
.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}
.fb_connect_bar div a,
.fb_connect_bar span,
.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}
.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fb_edge_widget_with_comment{position:relative;*z-index:1000}
.fb_edge_widget_with_comment span.fb_edge_comment_widget{position:absolute}
.fb_edge_widget_with_comment span.fb_send_button_form_widget{z-index:1}
.fb_edge_widget_with_comment span.fb_send_button_form_widget .FB_Loader{left:0;top:1px;margin-top:6px;margin-left:0;background-position:50% 50%;background-color:#fff;height:150px;width:394px;border:1px #666 solid;border-bottom:2px solid #283e6c;z-index:1}
.fb_edge_widget_with_comment span.fb_send_button_form_widget.dark .FB_Loader{background-color:#000;border-bottom:2px solid #ccc}
.fb_edge_widget_with_comment span.fb_send_button_form_widget.siderender
.FB_Loader{margin-top:0}
.fbpluginrecommendationsbarleft,
.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}
/* @noflip */
.fbpluginrecommendationsbarleft{left:10px}
/* @noflip */
.fbpluginrecommendationsbarright{right:10px}</style></head>



<body class="body-dark" data-twttr-rendered="true">



















			<div class="bannercontainer responsive">
					<div class="banner tp-simpleresponsive hovered">
						<ul>
							<!-- THE FIRST SLIDE -->
							<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.jpg" style="visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
										<!-- THE MAIN IMAGE IN THE SLIDE -->
										<div class="slotholder"><img src="slide13.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 1;"></div>

												<!-- THE CAPTIONS OF THE FIRST SLIDE -->
										<div class="caption large_text sfb tp-caption start" data-x="44" data-y="47" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 36px; padding: 0px; margin: 0px; border: 0px; line-height: 36px; white-space: nowrap; opacity: 1; left: 44px; top: 47px; -webkit-transform: scale(1, 1) rotate(0deg); visibility: visible;">OVER <span style="color: #ffcc00;">10
											E-Commerce Solutions </span></div>

										<div class="caption randomrotate tp-caption start" data-x="48" data-y="131" data-speed="600" data-start="1100" data-easing="easeOutExpo" style="left: 48px; top: 131px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="electronics1.jpg" alt="Image 2" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="90" data-y="206" data-speed="600" data-start="1200" data-easing="easeOutExpo" style="left: 90px; top: 206px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="music1.jpg" alt="Image 3" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="205" data-y="140" data-speed="600" data-start="1300" data-easing="easeOutExpo" style="left: 205px; top: 140px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="art&photo1.jpg" alt="Image 4" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="188" data-y="246" data-speed="300" data-start="1400" data-easing="easeOutExpo" style="left: 188px; top: 246px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="fashion1.jpg" alt="Image 5" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="55" data-y="316" data-speed="600" data-start="1500" data-easing="easeOutExpo" style="left: 55px; top: 316px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="test33.jpg" alt="Image 6" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="173" data-y="329" data-speed="300" data-start="1600" data-easing="easeOutExpo" style="left: 173px; top: 329px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="test22.jpg" alt="Image 7" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="255" data-y="294" data-speed="300" data-start="1700" data-easing="easeOutExpo" style="left: 255px; top: 294px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="testt111.jpg" alt="Image 8" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="275" data-y="166" data-speed="300" data-start="1800" data-easing="easeOutExpo" style="left: 275px; top: 166px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><a href="http://www.webeneers.com/gmas_metawing/recharge/"><img src="rechareg1.jpg" alt="Image 9" style="width: 140px; height: 140px;"></a></div>

										<div class="caption randomrotate tp-caption start" data-x="84" data-y="113" data-speed="300" data-start="1900" data-easing="easeOutExpo" style="left: 84px; top: 113px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="music1.jpg" alt="Image 10" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="26" data-y="225" data-speed="300" data-start="2000" data-easing="easeOutExpo" style="left: 26px; top: 225px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="fashion1.jpg" alt="Image 11" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="110" data-y="187" data-speed="300" data-start="2100" data-easing="easeOutExpo" style="left: 110px; top: 187px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><img src="art&photo1.jpg" alt="Image 12" style="width: 140px; height: 140px;"></div>

										<div class="caption randomrotate tp-caption start" data-x="183" data-y="221" data-speed="300" data-start="2200" data-easing="easeOutExpo" style="left: 183px; top: 221px; opacity: 1; -webkit-transform: scale(1, 1) rotate(0deg) translate(0px, 0px); visibility: visible;"><a href="http://www.webeneers.com/gmas_metawing/electronics"><img src="electronics1.jpg" alt="Image 13" style="width: 140px; height: 140px;"></a></div>
							</li>

							<!-- THE SECOND SLIDE -->
							<li data-transition="boxfade" data-slotamount="1" data-masterspeed="300" data-thumb="images/thumbs/thumb5.jpg">

									<div class="slotholder"><img src="slide4.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

									<div class="caption large_text sft tp-caption start" data-x="50" data-y="44" data-speed="300" data-start="800" data-easing="easeOutExpo">PLATFORM INDEPENDENT</div>

									<div class="caption medium_text sfl tp-caption start" data-x="79" data-y="82" data-speed="300" data-start="1100" data-easing="easeOutExpo">AND</div>

									<div class="caption large_text sfr tp-caption start" data-x="128" data-y="78" data-speed="300" data-start="1100" data-easing="easeOutExpo"><span style="color: #ffc600;">RESPONSIVE PORTALS</span></div>

									<div class="caption lfl tp-caption start" data-x="53" data-y="192" data-speed="300" data-start="1400" data-easing="easeOutExpo"><img src="imac.png" alt="Image 4"></div>

									<div class="caption lfl tp-caption start" data-x="253" data-y="282" data-speed="300" data-start="1500" data-easing="easeOutExpo"><img src="ipad.png" alt="Image 5"></div>

									<div class="caption lfl tp-caption start" data-x="322" data-y="313" data-speed="300" data-start="1600" data-easing="easeOutExpo"><img src="iphone.png" alt="Image 6"></div>
							</li>
							<li data-transition="turnoff" data-slotamount="1" data-masterspeed="300">
												<div class="slotholder"><img src="slide31.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

										<div class="caption large_text fade tp-caption start" data-x="509" data-y="290" data-speed="300" data-start="800" data-easing="easeOutExpo"></div>

										<div class="caption very_large_black_text randomrotate tp-caption start" data-x="641" data-y="95" data-speed="300" data-start="1100" data-easing="easeOutExpo">MOBILE</div>

										<div class="caption large_black_text randomrotate tp-caption start" data-x="642" data-y="161" data-speed="300" data-start="1400" data-easing="easeOutExpo">E-Commerce</div>




							</li>


							<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="images/thumbs/thumb2.jpg">
										<div class="slotholder"><img src="slide21.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

										<div class="caption very_big_white lfl stl tp-caption start" data-x="500" data-y="293" data-speed="300" data-start="500" data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">GMAS</div>

										<div class="caption big_white lfl stl tp-caption start" data-x="500" data-y="333" data-speed="300" data-start="800" data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">Gives you the power</div>

										<div class="caption lft ltb tp-caption start" data-x="18" data-y="0" data-speed="600" data-start="1100" data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine"><img src="Security_02.jpg" alt="Image 3"></div>

										<div class="caption large_text randomrotate bold_red_text tp-caption start" data-x="200" data-y="290" data-speed="300" data-start="1400" data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">DEDICATED SERVER</div>

										<div class="caption big_black sfb stb tp-caption start" data-x="238" data-y="320" data-speed="300" data-start="1700" data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine"></div>

										<div class="caption lft ltb tp-caption start" data-x="18" data-y="10" data-speed="600" data-start="3600" data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine"><img src="email_marketing_seo.gif" alt="Image 6"></div>

										<div class="caption bold_brown_text sft stb tp-caption start" data-x="238" data-y="290" data-speed="300" data-start="3900" data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine">E-Mail Campaign </div>

										<div class="caption big_black sfb stb tp-caption start" data-x="238" data-y="320" data-speed="300" data-start="4200" data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine"></div>

										<div class="caption randomrotate lft ltb tp-caption start" data-x="18" data-y="10" data-speed="600" data-start="6100" data-easing="easeOutExpo" data-end="8100" data-endspeed="300" data-endeasing="easeInSine"><img src="Hype-Cycle-for-CRM-Sales-2012-cover.jpg" alt="Image 9"></div>

										<div class="caption  randomrotate bold_green_text sft stb tp-caption start" data-x="10" data-y="300" data-speed="300" data-start="6400" data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">Get Support For Your Complete Sales Cyle</div>

										<div class="caption big_black sfb stb tp-caption start" data-x="238
										" data-y="320" data-speed="300" data-start="6700" data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine"></div>
																		</li>
										<li data-transition="turnoff" data-slotamount="1" data-masterspeed="300">
												<div class="slotholder"><a href="#"><img src="S1-BIG.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></a></div>

										<div class="caption large_text fade tp-caption start" data-x="509" data-y="290" data-speed="300" data-start="800" data-easing="easeOutExpo"></div>

										<div class="caption very_large_black_text randomrotate tp-caption start" data-x="641" data-y="95" data-speed="300" data-start="1100" data-easing="easeOutExpo">Reduced </div>

										<div class="caption large_black_text randomrotate tp-caption start" data-x="642" data-y="161" data-speed="300" data-start="1400" data-easing="easeOutExpo">Expenses to 1/5 </div>

										<div class="caption bold_red_text randomrotate tp-caption start" data-x="645" data-y="201" data-speed="300" data-start="1700" data-easing="easeOutExpo">Compared to Market Cost</div>
                                        <div class="caption  very_large_black_text bold_red_text randomrotate tp-caption start" data-x="645" data-y="220" data-speed="300" data-start="1700" data-easing="easeOutExpo">With Exponential Growth</div>




							</li>

							<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="images/thumbs/thumb2.jpg">
										<div class="slotholder"><img src="slide21.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

										<div class="caption very_big_white lfl stl tp-caption start" data-x="500" data-y="293" data-speed="300" data-start="500" data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">TIMELINED CAPTIONS</div>

										<div class="caption big_white lfl stl tp-caption start" data-x="500" data-y="333" data-speed="300" data-start="800" data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">MOVE CAPTIONS IN AND OUT ON ONE SLIDE</div>

										<div class="caption lft ltb tp-caption start" data-x="18" data-y="10" data-speed="600" data-start="1100" data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine"><img src="payment_gateway.png" alt="Image 3"></div>

										<div class="caption bold_red_text sft stb tp-caption start" data-x="30" data-y="320" data-speed="300" data-start="1400" data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">Pre Integrated Payment Gateway</div>

										<div class="caption big_black sfb stb tp-caption start" data-x="30" data-y="320" data-speed="300" data-start="1700" data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine"></div>

										<div class="caption lft ltb tp-caption start" data-x="18" data-y="0" data-speed="600" data-start="3600" data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine"><img src="6a00e54ff96dbe88340120a4e562ad970b-800wi.jpg" alt="Image 6"></div>

										<div class="caption bold_brown_text sft stb tp-caption start" data-x="30
										" data-y="290" data-speed="300" data-start="3900" data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine">NETWORKING EVENTS </div>

										<div class="caption big_black sfb stb tp-caption start" data-x="238" data-y="320" data-speed="300" data-start="4200" data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine"></div>

										<div class="caption lft ltb tp-caption start" data-x="18" data-y="0" data-speed="600" data-start="6100" data-easing="easeOutExpo" data-end="8100" data-endspeed="300" data-endeasing="easeInSine"><img src="erp-development.jpg" alt="Image 9"></div>

										<div class="caption bold_green_text sft stb tp-caption start" data-x="238" data-y="290" data-speed="300" data-start="6400" data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">ERP SOLUTIONS</div>

										<div class="caption big_black sfb stb tp-caption start" data-x="238
										" data-y="320" data-speed="300" data-start="6700" data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine"></div>

																		</li>


							<li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="images/thumbs/thumb6.jpg">
									<div class="slotholder"><img src="slide51.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

									<div class="caption large_text sfl tp-caption start" data-x="38" data-y="200" data-speed="300" data-start="1000" data-easing="easeOutExpo">Cluster</div>

									<div class="caption large_text sfl tp-caption start" data-x="37" data-y="243" data-speed="300" data-start="1300" data-easing="easeOutExpo">Networking Events</div>

									<div class="caption sft tp-caption start" data-x="639" data-y="383" data-speed="300" data-start="2300" data-easing="easeOutExpo" data-linktoslide="8"><img src="videobutton.jpg" alt="Image 8"></div>
							</li>



							<!-- THE THIRD SLIDE -->
							<li data-transition="slidedown" data-slotamount="7" data-masterspeed="300" data-thumb="images/thumbs/thumb4.jpg">
									<div class="slotholder"><img src="black.jpg" class="defaultimg" style="width: 960px; height: 500px; opacity: 0;"></div>

									<div class="caption fade fullscreenvideo tp-caption start" data-autoplay="false" data-x="0" data-y="0" data-speed="500" data-start="10" data-easing="easeOutBack"><iframe width="100%" height="100%"
src="http://www.youtube.com/embed/3wZw2IRb0Vg">
</iframe></div> ;

									<div class="caption big_white sft stt tp-caption start" data-x="327" data-y="25" data-speed="300" data-start="500" data-easing="easeOutExpo" data-end="4000" data-endspeed="300" data-endeasing="easeInSine">Have Fun Watching the Video</div>
							</li>

							<!-- THE FOURTH SLIDE -->



							<!-- THE FIFTH SLIDE -->

						</ul>



						<div class="tp-bannertimer" style="width: 95.44375%; overflow: hidden;"></div>
					<div class="tp-loader" style="display: none;"></div></div>
				<div class="tp-bannershadow tp-shadow1" style="width: 960px;"></div><div class="tp-bullets simplebullets round" style="visibility: visible; width: 141px; left: 409.5px; bottom: 20px; opacity: 1;"><div class="bullet first selected"></div><div class="bullet"></div><div class="bullet"></div><div class="bullet"></div><div class="bullet"></div><div class="bullet last"></div><div style="clear:both"></div></div><div class="tp-bullets tp-thumbs round" style="width: 500px; height: 50px; visibility: hidden; opacity: 1;"><div class="tp-mask" style="width: 500px; height: 50px;"><div class="tp-thumbcontainer" style="left: 0px;"><div class="bullet thumb first selected" style="width: 100px; height: 50px;"><img src="thumb1.jpg"></div><div class="bullet thumb" style="width: 100px; height: 50px;"><img src="thumb2.jpg"></div><div class="bullet thumb" style="width: 100px; height: 50px;"><img src="slide31.jpg"></div><div class="bullet thumb" style="width: 100px; height: 50px;"><img src="thumb4.jpg"></div><div class="bullet thumb" style="width: 100px; height: 50px;"><img src="thumb5.jpg"></div><div class="bullet thumb last" style="width: 100px; height: 50px;"><img src="thumb6.jpg"></div><div style="clear:both"></div></div></div></div><div style="visibility: visible; position: absolute; left: 0px; top: 250px; opacity: 1;" class="tp-leftarrow tparrows round large"></div><div style="visibility: visible; position: absolute; left: 920px; top: 250px; opacity: 1;" class="tp-rightarrow tparrows round large"></div></div>

				<div id="unvisible_button"></div>


				<div class="space30"></div>








		<div style="width:100%;height:60px;"></div>





</body></html>